body {
    margin: 0;
    font-family: sans-serif;

}

.home {
    margin: 0;
    padding: 0;
    background-color: rgb(148, 190, 190);
    overflow: hidden;

}

ul li {
    float: left;
    list-style-type: none;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 18px;
    display: inline-block;
}

.section {
    background-color: rgb(54, 42, 42);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 50px auto;
    border-radius: 10px;
}

.section img {
    height: 400px;
}

.section h1 {
    margin-top: 80px;
    color: white;
}

.section p {
    margin-top: 0px;
    color: aliceblue;
}

.button {
    border: 2px solid transparent;
    background-color: chocolate;
    border-radius: 5px;
}

.blog-parent {
    /* display: flex;
    justify-content: center; */
    margin: 20px 400px;
}
.clear{
    content: "";
    clear: both;
    display: table;
}
.clear::before{
    content: "";
    clear: both;
    display: table;
}
.blog-serial {
    float: left;
    width: 300px;
}

.blog-serial1 {
    float: left;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.btm-list {
    margin-top: 40px;
    width: 30px;
    height: 20px;
    padding: 55px;
    display: grid;
    grid-column: 24px;
    background-color: rgb(71, 64, 64);
}

.container img {
    margin-top: 40px;
    width: 204px;
    height: 95px;
    border-radius: 5px;
}

.course-duration .course-time {
    align-items: center;
}

footer {
    width: 1883px;
    background: #000;
}

.goal {
    padding-top: 240px;
    background: #000;
    color: #fff;
    width: 1883px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.point{
    color: #fff;
    background: #000;
    display: flex;
    justify-content:center;
    padding-bottom: 300px;
}